<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="sevagenie" connectionString="Server=ASPLDOMAIN;Port=3306;Database=sevagenie;Uid=aspladmin;Pwd=Janina@123;"/>

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
               maxArrayLength="2147483647" maxBytesPerRead="2147483647"
               maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="asmx">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSNewRegister">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSNewRegister">
          <!--<identity>
            <dns value="localhost:4273"/>
          </identity>-->
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSValidateLogin">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSValidateLogin">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSCountryList">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSCountryList">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSGetUserProfile">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSGetUserProfile">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>


      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSUpdateProfile">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSUpdateProfile">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSUpdateSevaUserProfile">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSUpdateSevaUserProfile">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>


      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSForgetPassword">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSForgetPassword">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSGetSevaUserProfile">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSGetSevaUserProfile">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

      <service behaviorConfiguration="asmx" name="SevaGenieWS.WSCoundetails">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" name="webEndPoint" contract="SevaGenieWS.IWSCoundetails">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>

    </services>



    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
